@import "tailwindcss";

@theme {
  /*  Fonts */
  --font-poppins: var(--font-poppins);
  --font-dm-sans: var(--font-dm-sans);

  /* Colors */
  --color-iplay-plum: #341931;
  --color-iplay-night: #111625;
  --color-iplay-grape: #96668F;

  --color-iplay-black: #0F0A0F;
  --color-iplay-white: #FFFAFF;

  --color-iplay-pink: #FF1168;
  --color-iplay-coral: #E54028;
  --color-iplay-magenta: #D70060;

  --color-iplay-orange: #F18D05;
  --color-iplay-yellow: #F2BC06;

  --color-iplay-lime: #5EB11C;
  --color-iplay-forest: #3A7634;

  --color-iplay-teal: #0ABEBE;
  --color-iplay-cyan: #00A1CB;
  --color-iplay-blue: #115793;

  --animate-fade-in-scale: fade-in-scale 0.6s ease-out forwards;
  --animate-fade-in-ltr: fade-in-ltr 0.6s ease-out forwards;
  --animate-fade-splashscreen: fade-splashscreen 2.5s ease-out forwards;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-splashscreen {
    0% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    99% {
      opacity: 0;
    }

    100% {
      opacity: 0;
      display: none;
    }
  }

  @keyframes fade-in-ltr {
    0% {
      opacity: 0;
      transform: translateX(-10%);
      transform: rotate(10deg)
    }

    100% {
      opacity: 1;
      transform: translateX(0%);
      transform: rotate(0deg)
    }
  }
}


/* Make outlines softer / more subtle */
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
a:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
  border-radius: 0.25rem;
}

:focus:not(:focus-visible) {
  outline: none;
}

html {
  background-color: var(--color-iplay-black);
  ;
}

body {
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;

}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100vh;
}