@import "tailwindcss";

@theme {
  /*  Fonts */
  --font-poppins: var(--font-poppins);
  --font-dm-sans: var(--font-dm-sans);

  /* Colors */
  --color-iplay-plum: #341931;
  --color-iplay-night: #111625;
  --color-iplay-grape: #96668F;

  --color-iplay-black: #0F0A0F;
  --color-iplay-white: #FFFAFF;

  --color-iplay-pink: #FF1168;
  --color-iplay-coral: #E54028;
  --color-iplay-magenta: #D70060;

  --color-iplay-orange: #F18D05;
  --color-iplay-yellow: #F2BC06;

  --color-iplay-lime: #5EB11C;
  --color-iplay-forest: #3A7634;

  --color-iplay-teal: #0ABEBE;
  --color-iplay-cyan: #00A1CB;
  --color-iplay-blue: #115793;

  /* --animate-fade-in: fade-in 0.3s ease-out; */
 /*  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  } */
}

html {
  background-color: var(--color-iplay-black);
  ;
}

body {
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;

}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100vh;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
