@import "tailwindcss";

@theme {
  /*  Fonts */
  --font-headline: var(--font-poppins);
  --font-body: var(--font-dm-sans);

  /* Colors */
  --color-iplay-night: #111625;
  --color-iplay-plum: #341931;
  --color-iplay-white: #FFFAFF;

  --color-iplay-pink: #FF1168;
  --color-iplay-coral: #E54028;
  --color-iplay-magenta: #D70060;

  --color-iplay-orange: #F18D05;
  --color-iplay-yellow: #F2BC06;

  --color-iplay-lime: #5EB11C;
  --color-iplay-forest: #3A7634;

  --color-iplay-teal: #0ABEBE;
  --color-iplay-cyan: #00A1CB;
  --color-iplay-blue: #115793;
}

body {
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100vh;
}